@model IEnumerable<Datalayer.Page>
@foreach(var item in Model) { 
<li>
    <img class="border-radius" src="~/PageImages/@item.ImageName">
    <h2> <a href="/News/@item.PageID">@item.Title</a></h2>
    <span>انتشار : @item.CreateDate.TOshamsi()</span>
</li>
}

